.btn-cancel {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #5c636a;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload{
    text-align: center;
}

.upload::file-selector-button {
    background-color: var(--primary-btn-color);
    border-color: var(--primary-btn-color);
    color:white;
    border: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.inpTitle {
    width: 100%;
    font-size: 2.5rem;
    border: none;
}

.inpHeaderH2 {
    width: 100%;
    font-size: 2rem;
    border: none;
    padding: 0;
}

.inpHeaderH3 {
    text-align: left;
    width: 100%;
    font-size: 1.75rem;
    border: none;
    padding: 0;
}

.inpHeaderH2Nr {
    width: fit-content;
    font-size: 2rem;
    border: none;
}

.inpHeaderH3Nr {
    font-size: 1.75rem;
    width: fit-content;
    border: none;
}

.inp-container {
    width: calc(100% - 86px);
    display: flex;
    flex-direction: row;
}


.textarea-def {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.kapitel-outer-container {
}

.kapitel-container {
    padding: 5px;
    margin: 10px 0 10px 0;
}

.kapitel-header-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    padding: 0 0 10px 0;
}

.kapitel-button-row-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
    margin: auto 0 auto auto;
}

.kapitel-input-button {
    height: fit-content;
    background: none;
    text-align: center;
}

.kapitel-input-button:hover {
    background: lightgray;
}

.loesungen-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0 10px 0;
    max-width: 100%;
    flex-wrap: wrap;
}

.loesung-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.action-button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 20px 0 0 0;
    margin: 0;
}

.loesung-label {
    text-align: center;
    align-content: center;
}

.kapitelButtonContainer {
    display: flex;
    flex-direction: row-reverse;
}

.aufgaben-container {
    display: flex;
    flex-direction: column;
}