.title-header{
    display: flex;
    flex-direction: row;
}

.Aufgabe-container{
    display: flex;
    flex-direction: row;
}


.left{
    margin-left: auto
}
.outer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.progress-bar{
    width: 60%;
    background-color: var(--primary-btn-color);
}

.list{
    width: auto;
    flex-grow: 1;
}

.kurs-liste{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.course-container {
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.course-container:active{
    background: lightgray;
}

.course-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-description{
    width: 100%;
}

.preview-container{
    display: none;
    width: 50%;
    border: solid black;
    padding:10px;
    margin-bottom: 20px;
}
