* {
    padding: 0;
    border: 0;
    margin: 0;
    --header-height: 8vh;
    text-decoration: none;
    --course-height: 18vh;
    --course-width: 22.5vw;
}

.main {
    display: flex;
    margin-top: calc(var(--header-height) + 1vh);
    margin-left: 4vw;
    margin-right: 4vw;
}

.main > a ~ a{
    margin-left: 2vw;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    border-bottom: solid black 0.2vh;
}

.course-display {
    position: relative;
    height: var(--course-height);
    width: var(--course-width);
    display: flex;
    flex-direction: column;
    border: solid black 0.3vh;
    border-radius: 1vh;
    overflow: hidden; /* Make sure background doesnt overflow over the border */
    z-index: 100;
}

.course-display:hover {
    height: calc(var(--course-height) * (1.1));
    width: calc(var(--course-width) * (1.1));
}

.course-display + .course-display {
    margin-left: 4vw;
}

.course-display * {
    color: black;
}

.course-desc {
    border-bottom: solid black 0.1vh;
    background-color: orangered;
    height: 20%;
    text-align: center;
}

.course-img {
    height: 80%;
}

.course-img img {
    height: 100%;
    width: 100%;
}